<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us | Crown Nail Lounge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <link rel="icon" href="images/avalon-nails-head-spa-favicon.svg">
    <link rel="shortcut icon" type="image/x-icon" href="images/avalon-nails-head-spa-favicon.svg">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <link rel="stylesheet" href="css/templatemo-black.css">
    <link rel="stylesheet" href="css/slider_fullbanner.css">
    
    

    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Font  -->
    <link rel="stylesheet" href="css/font-roboto.css">
    <link rel="stylesheet" href="css/font-galada.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
	
	<!-- <link rel="stylesheet" th:href="@{${template + '/css/ninja-slider.css'}}"> -->
	
	<style>
		.navbar{
		    background: #a06045 !important;
		    display: inline-block;
		    vertical-align: middle;
		    content: "";
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		    
		    /* box-shadow: none !important; */
		}
		/* .background-black{
			background-image: url(images/bg-black-02.jpg) !important;
		    background-repeat: repeat  !important;
		    background-position: center;
		    /* background-size: cover; */
		    /* border-top: 1px solid #333; */
		    /* padding: 100px 0; 
		} */
		.navbar.scroll {
		    /* background-image: url(images/menu-bar-bg.jpg) !important; */
		    background: linear-gradient(to right, #a06045, #a06045)  !important;
		    background-repeat: no-repeat  !important;
		    background-position: center;
		    background-size: cover;
		}
		/* .navbar.scroll a{
			color: #fff !important;
		} */
		.navbar.scroll #imgsrc{
		    background-image: url(images/crown-nail-lounge-logo.png) !important;
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		  /*   width: 48px;
		    height: 54px; */
		}
		.navbar.scroll #imgsrc.active{
		    background-image: url(images/crown-nail-lounge-logo-active.png) !important;
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		  /*   width: 48px;
		    height: 54px; */
		}
		/* .bg-foot.black {
		    background-image: url(images/bg-foot.jpg) !important;
		    vertical-align: middle;
		    content: "";
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		} */
    </style>
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMQD2TTN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- <div th:insert="template27/header"></div> -->
    <nav class="navbar bar-two navbar-expand-lg navbar-light shadow fixed-top black height transparent" id="navigation-scroll">
	    <div class="container d-flex justify-content-between align-items-center py-2">
	
	        <a class="navbar-brand text-success logo h1 align-self-center logo-img" href="index.html">
	            <img style="height: 70px" id="imgsrc" class="active" src="images/crown-nail-lounge-logo.png">
	        </a>
	
	        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
	            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
	            aria-label="Toggle navigation">
	            <!-- <span id="icon-menu" class="navbar-toggler-icon"></span> -->
	            <img id="icon-menu" class="navbar-toggler-icon"></img>
	        </button>
	
	        <div class="align-self-center collapse navbar-collapse d-lg-flex" id="templatemo_main_nav">
	            <ul class="nav navbar-nav ml-auto">
	                <li class="nav-item ">
	                    <a class="nav-link" href="index.html">Home</a>
	                </li>
	                <li class="nav-item active">
	                    <a class="nav-link" href="about.html">About Us</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="gallery.html">Gallery</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="services.html">Services</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="contact.html">Contacts</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="https://www.lldtek.org/salon/appt/U1U1Zk1USXdPRE09" target="_blank">Appointment</a>
	                </li>
	            </ul>
	        </div>
	
	    </div>
	</nav>

    <section class="bg-success py-5 mt-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-lg-6 col-md-6">
                    <h1 class="h11 about-title bolder">About <span>Crown Nail Lounge</span></h1>
                    <span class="text-justify">
					We take pride in being a professional destination for nail and beauty services, offering a perfect blend of beauty and relaxation. Here, you will experience a luxurious atmosphere and high-quality services, providing you with an exceptional beauty experience.
					<br>
					Our nail technicians are skilled and professional, ready to create beautiful, long-lasting nails for you. Our services go beyond simple manicures; we offer exquisite nail art designs that allow you to express your unique personality and shine.
					<br>	
					In addition to nail care, we are proud to introduce our Head Spa treatments, designed to bring you deep relaxation and rejuvenation. Our head spa services help relieve stress, improve scalp health, and promote healthy hair growth — giving you not only beauty but also complete well-being.
					<br><br>
					With a comfortable and friendly environment, you can relax and feel the attentive care from our dedicated team of professionals.
					<br><br>
					Visit <b>Crown Nail Lounge </b>today to enjoy fantastic and enjoyable nail services. We are always ready to welcome you!
					<br><br>
					<i>Address: 9719 E 116th St., Ste. 440, Fishers, IN 46037</i>
					<br>
					<i>Phone: (317) 585-8888</i>
					<br><br>
					We look forward to serving you!
				    </span>
                </div>

                <div class="col-lg-6 col-md-6 align-self-center">
                    <img class="w-100" src="images/avalon-nails-head-spa-about.jpg">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <!-- <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Services</h1>
                <img th:src="@{${template + '/images/' + folder + '/bg-floral-title.png'}}" alt="">
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-md-4 col-lg-3">
                <div class="h-100 py-5 services-icon-wap ">
                    <div class="h1 text-success text-center"><i><img class="circle-img"
                                th:src="@{${template + '/images/' + folder + '/pearl-nails-spa-service-01.jpg'}}"></i></div>
                    <a class="link-services" href="services">
                        <h2 class="h5 mt-4 text-center">special spa pedicure packages</h2>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <div class="h-100 py-5 services-icon-wap ">
                    <div class="h1 text-success text-center"><i><img class="circle-img"
                                th:src="@{${template + '/images/' + folder + '/pearl-nails-spa-service-02.jpg'}}"></i></div>
                    <a class="link-services" href="services">
                        <h2 class="h5 mt-4 text-center">Manicures</h2>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <div class="h-100 py-5 services-icon-wap ">
                    <div class="h1 text-success text-center"><i><img class="circle-img"
                                th:src="@{${template + '/images/' + folder + '/pearl-nails-spa-service-03.jpg'}}"></i></div>
                    <a class="link-services" href="services">
                        <h2 class="h5 mt-4 text-center">Acrylic Nail</h2>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <div class="h-100 py-5 services-icon-wap ">
                    <div class="h1 text-success text-center"><i><img class="circle-img"
                                th:src="@{${template + '/images/' + folder + '/pearl-nails-spa-service-04.jpg'}}"></i></div>
                    <a class="link-services" href="services">
                        <h2 class="h5 mt-4 text-center">Additional Services</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="h-100 py-5 services-icon-wap ">
                    <div class="h1 text-success text-center"><i><img class="circle-img"
                                th:src="@{${template + '/images/' + folder + '/pearl-nails-spa-service-05.jpg'}}"></i></div>
                    <a class="link-services" href="services">
                        <h2 class="h5 mt-4 text-center">polish change</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="h-100 py-5 services-icon-wap ">
                    <div class="h1 text-success text-center"><i><img class="circle-img"
                                th:src="@{${template + '/images/' + folder + '/pearl-nails-spa-service-06.jpg'}}"></i></div>
                    <a class="link-services" href="services">
                        <h2 class="h5 mt-4 text-center">skin care</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="h-100 py-5 services-icon-wap ">
                    <div class="h1 text-success text-center"><i><img class="circle-img"
                                th:src="@{${template + '/images/' + folder + '/pearl-nails-spa-service-07.jpg'}}"></i></div>
                    <a class="link-services" href="services">
                        <h2 class="h5 mt-4 text-center">waxing</h2>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="h-100 py-5 services-icon-wap ">
                    <div class="h1 text-success text-center"><i><img class="circle-img"
                                th:src="@{${template + '/images/' + folder + '/pearl-nails-spa-service-08.jpg'}}"></i></div>
                    <a class="link-services" href="services">
                        <h2 class="h5 mt-4 text-center">Eyelash Extentions</h2>
                    </a>
                </div>
            </div>

        </div>
    </section> -->
    <!-- End Section -->

    <!-- Start Brands -->
    <section class="bg-light py-5 gallery">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-12 m-auto">
                    <h1 class="h1">Gallery</h1>
                   <!-- <img th:class="${dataObj.info.others.theme == 'black' ? 'd-none':'d-block'}" th:src="@{${template + '/images/' + folder + '/bg-floral-title.png'}}" alt=""> -->
                </div>
                <div class="col-lg-12 m-auto tempaltemo-carousel mt-5">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                                <i class=" fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand"
                                data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active" >
                                        <div class="row">
                                            <div class="col-12 col-md-4" >
                                                <a  href="#"><img class="img-fluid py-3"
                                                        src="images/crown-nail-lounge-gallery-01.png"
                                                        alt="Crown Nail Lounge"></a>
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                <a  href="#"><img class="img-fluid py-3"
                                                        src="images/crown-nail-lounge-gallery-02.png"
                                                        alt="Crown Nail Lounge"></a>
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                <a  href="#"><img class="img-fluid py-3"
                                                        src="images/crown-nail-lounge-gallery-03.png"
                                                        alt="Crown Nail Lounge"></a>
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                <a  href="#"><img class="img-fluid py-3"
                                                        src="images/crown-nail-lounge-gallery-04.png"
                                                        alt="Crown Nail Lounge"></a>
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                <a  href="#"><img class="img-fluid py-3"
                                                        src="images/crown-nail-lounge-gallery-05.png"
                                                        alt="Crown Nail Lounge"></a>
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                <a  href="#"><img class="img-fluid py-3"
                                                        src="images/crown-nail-lounge-gallery-06.png"
                                                        alt="Crown Nail Lounge"></a>
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                <a  href="#"><img class="img-fluid  py-3"
                                                        src="images/crown-nail-lounge-gallery-07.png"
                                                        alt="Crown Nail Lounge"></a>
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                <a  href="#"><img class="img-fluid  py-3"
                                                        src="images/crown-nail-lounge-gallery-08.png"
                                                        alt="Crown Nail Lounge"></a>
                                            </div>
                                            <div class="col-12 col-md-4" >
                                                <a  href="#"><img class="img-fluid  py-3"
                                                        src="images/crown-nail-lounge-gallery-09.png"
                                                        alt="Crown Nail Lounge"></a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                                <i class=" fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- <div th:insert="template27/footer"></div> -->
    <footer class="bg-foot background-black w-100 padding-section px-0" id="tempaltemo_footer">
	    <div class="container">
	        <div class="row padding-footer pt-0 pb-3">
	
	            <div class="col-md-12 col-lg-4">
	                <img style="height: 70px" src="images/Topcoat-nail-bar-logo-foot.png" alt="">
	                <ul class="list-unstyled text-light footer-link-list mt-3">
	                    <li>
	                        <i class="fa fa-phone-alt fa-fw"></i>
	                        <a class="text-decoration-none phone-big" href="tel:+1(317) 585-8888">(317) 585-8888</a>
	                    </li>    
			    <li>
	                        <i class="fas fa-map-marker-alt fa-fw"></i>
	                        <a class="text-decoration-none">9719 E 116th St., Ste. 440, Fishers, IN 46037</a>
	                    </li>
	                    
	                    
	                    
	                    <li>
	                        <i class="fa fa-envelope fa-fw"></i>
	                        <a class="text-decoration-none"
	                            href="mailto:crownnail@yahoo.com">crownnail@yahoo.com</a>
	                    </li>
	                </ul>
	            </div>
	
	            <div class="col-md-6 col-lg-4 mt-3 mt-md-4 mt-lg-0">
	                <h2 class="h2 text-light pb-3 border-light-menu bolder">Hours</h2>
	                <ul class="list-unstyled text-light footer-link-list mt-3">
	                	<div class="row">
	                		<div class="col-4 col-xl-3">
	                			<span class="text-white" style="letter-spacing: 0.2px;">Mon - Sat:</span>
	                		</div>
	                		<div class="col-8 text-left">
	                			<span class="text-white">09:30 AM - 07:30 PM</span>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-4 col-xl-3">
	                			<span class="text-white" style="letter-spacing: 2.6px;">Sunday:</span>
	                		</div>
	                		<div class="col-8 text-left">
	                			<span class="text-white">11:00 AM - 06:00 PM</span>
	                		</div>
	                	</div>
	                    <!-- <li><a class="text-decoration-none" href="#" th:text="${dataObj.info.salon.time_1}"></a></li>
	                    <li><a class="text-decoration-none" href="#" th:text="${dataObj.info.salon.time_2}"></a></li> -->
	                    <!-- <li th:if="${dataObj.info.salon.time_3 != null}"><a class="text-decoration-none" href="#" th:text="${dataObj.info.salon.time_3}"></a></li> -->
	                </ul>
<br>
	                <ul class="list-inline text-left footer-icons">
	                    <li class="list-inline-item border border-light rounded-circle text-center">
	                        <a class="text-light text-decoration-none" target="_blank"
	                            href="https://www.facebook.com/CrownNailLounge46037" data-facebook><i
	                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
	                    </li>
	                    <li class="list-inline-item border border-light rounded-circle text-center">
	                        <a class="text-light text-decoration-none" target="_blank"
	                            href="https://www.instagram.com/crownnaillounge" data-instagram><i
	                                class="fab fa-instagram fa-lg fa-fw"></i></a>
	                    </li>
	                    <li class="list-inline-item border border-light rounded-circle text-center">
	                        <a class="text-light text-decoration-none" target="_blank"
	                            href="https://maps.app.goo.gl/vAEaGmsFdH1QiJdP8" data-google><i
	                                class="fab fa-google fa-lg fa-fw"></i></a>
	                    </li>
	                </ul>
	            </div>
	
	            <div class="col-md-6 col-lg-4 mt-3 mt-md-4 mt-lg-0">
	                <h2 class="h2 text-light pb-3 border-light-menu bolder">Links</h2>
	                <ul class="list-unstyled text-light footer-link-list mt-3 mb-0">
	                    <li><a class="text-decoration-none" target=_blank href="about.html">About Us</a></li>
	                    <li><a class="text-decoration-none" target=_blank href="gallery.html">Gallery</a></li>
	                    <li><a class="text-decoration-none" target=_blank href="services.html">Services</a></li>
	                    <li><a class="text-decoration-none" target=_blank href="contact.html">Contacts</a></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</footer>
	
	<div class="container-fluid bottom-footer px-0">
		<div class="w-100 bg-black py-3">
			<div class="container">
				<div class="row pt-2">
					<div class="col-12">
						<p class="text-center text-light">
							Copyright &copy; 2023 <a href="index.html"
								class="text-color d-lg-inline-block">Crown Nail Lounge</a>. Designed by <a
								class="text-color" rel="sponsored" href="https://www.lldtek.org/"
								target="_blank">LLDTEK</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Start Script -->
    <script src="js/jquery-3.6.min.js"></script>
    <!-- <script th:src="@{${template + '/js/jquery-migrate-1.2.1.min.js'}}"></script> -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/templatemo.js"></script>
    <script src="js/custom.js"></script>
    <!-- End Script -->

    <script type="text/javascript">
    
        $(window).scroll(function () {

            var a = 20;
            var pos = $(window).scrollTop();
            if (pos > a) {
                $("#navigation-scroll").css({
                    top: '0'
                });
                $("#navigation-scroll").addClass("scroll");
                $("#imgsrc").addClass("active");
                $("#imgsrc").attr('src', "images/crown-nail-lounge-logo-active.png"); 
                $("#icon-menu").attr('src', "images/menu.svg");
            }
            else {
                $("#navigation-scroll").css({
                    top: '0'
                })
               $("#navigation-scroll").removeClass("scroll");
                $("#imgsrc").removeClass("active");
                $("#imgsrc").attr('src', "images/crown-nail-lounge-logo.png");  
                $("#icon-menu").attr('src', "images/menu.svg");
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
        	
        	$("#icon-menu").attr('src', "images/menu.svg");
        	
        	
            $('.nav').on('click', 'li', function () {
                $('.nav li').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>

</body>

</html>