<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="Our salon takes pride in providing our valued customers all good services and customer service satisfaction. At Crown Nail Lounge, a wide choice is provided to customers, you can use any services that you like. All of our services are at decent prices, so there is no hesitation when you use one or even more services at our salon.">
    <meta name="keyword"
        content="Crown Nail Lounge, Crown Nail Lounge in Fishers, Crown Nail Lounge in IN 46037, nails salon near me, luxury nails, best nails color, nails spa, nails salon, nails bar, perfect nail, nails polish, gel polish, best nail color, pedicure near me">
    <meta name="author" content="Crown Nail Lounge | Top Nails Salon in Fishers, IN 46037">
    <title>Crown Nail Lounge | Top Nails Salon in Fishers, IN 46037</title>

    <link rel="icon" href="images/crown-nail-lounge-favicon.svg">
    <link rel="shortcut icon" type="image/x-icon" href="images/crown-nail-lounge-favicon.svg">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/templatemo-black.css">
    <link rel="stylesheet" href="css/slider_fullbanner.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Font  -->
    <link rel="stylesheet" href="css/font-roboto.css">
    <link rel="stylesheet" href="css/font-galada.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="css/fontawesome.min.css">
    
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
	
	
	<style>
		.background-service{
			background-image: url(images/avalon-nails-head-spa-bg-service.jpg), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) !important;			
    		background-blend-mode: overlay;
		    background-repeat: repeat  !important;
		    background-position: center;
		    /* background-size: cover; */
		    /* border-top: 1px solid #333; */
		    /* padding: 100px 0; */
		}
		.navbar.scroll {
		    /* background-image: url(images/menu-bar-bg.jpg) !important; */
		    /* background: linear-gradient(to right, #000, #000)  !important; */
		    display: inline-block;
		    vertical-align: middle;
		    content: "";
		    background-repeat: no-repeat  !important;
		    background-position: center;
		    background-size: cover;
		}
		/* .navbar.scroll a{
			color: #fff !important;
		} */
		.navbar.scroll #imgsrc{
		    background-image: url(images/crown-nail-lounge-logo.png) !important;
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		  /*   width: 48px;
		    height: 54px; */
		}
		.navbar.scroll #imgsrc.active{
		    background-image: url(images/crown-nail-lounge-logo-active.png) !important;  
		    background-repeat: no-repeat;
		    background-position: center;
		    background-size: cover;
		}
    </style>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MMQD2TTN');</script>
	<!-- End Google Tag Manager -->

</head>

<body>

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MMQD2TTN"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

    <!-- <div th:insert="template27/header"></div> -->
    <nav class="navbar bar-two navbar-expand-lg navbar-light shadow fixed-top black height transparent" id="navigation-scroll">
	    <div class="container d-flex justify-content-between align-items-center py-2">
	
	        <a class="navbar-brand text-success logo h1 align-self-center logo-img" href="index.html">
	            <img id="imgsrc" class="active" style="height: 70px" src="images/crown-nail-lounge-logo.png">
	        </a>
	
	        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
	            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
	            aria-label="Toggle navigation">
	            <!-- <span id="icon-menu" class="navbar-toggler-icon"></span> -->
	            <img id="icon-menu" class="navbar-toggler-icon"></img>
	        </button>
	
	        <div class="align-self-center collapse navbar-collapse d-lg-flex" id="templatemo_main_nav">
	            <ul class="nav navbar-nav ml-auto">
	                <li class="nav-item active">
	                    <a class="nav-link" href="index.html">Home</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="about.html">About Us</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="gallery.html">Gallery</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="services.html">Services</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="contact.html">Contacts</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="https://www.lldtek.org/salon/appt/U1U1Zk1USXdPRE09" target="_blank">Appointment</a>
	                </li>
	            </ul>
	        </div>
	
	    </div>
	</nav>

    <!-- Start Zoom image and Carousel -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        
        <div class="carousel-inner">
            <div class="carousel-item banner active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="mx-auto col-12 order-lg-last px-0">   <!-- use  zoom-in-out-box -->
                            <img class="img-fluid no-radius zoom-in-out-box" src="images/crown-nail-lounge-banner-01.jpg" alt="">
                            <div class="overlay"></div>
                            <ol class="carousel-indicators">
					            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
					            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
					            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
					        </ol>
                        </div>
                    </div>
                </div>
                
                <!-- Description -->
                <!-- <div class="col-12 mt-3 mb-0 d-flex align-items-center box-description">
                    <div class="text-align-center align-self-center w-100"> 
                        <h1 class="h1 text-success text-center pt-3"><b>Crown Nail Lounge</b></h1>
                        <p class="desc">Enjoy the Best Destination with Our Nail Services</p>
                    </div>
                </div> -->
            </div>
            <div class="carousel-item banner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="mx-auto col-12 order-lg-last px-0">   <!-- use  zoom-in-out-box -->
                            <img class="img-fluid no-radius zoom-in-out-box" src="images/crown-nail-lounge-banner-02.jpg" alt="">
                            <div class="overlay"></div>
                            <ol class="carousel-indicators">
					            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0"></li>
					            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1" class="active"></li>
					            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
					        </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item banner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="mx-auto col-12 order-lg-last px-0">   <!-- use  zoom-in-out-box -->
                            <img class="img-fluid no-radius zoom-in-out-box" src="images/crown-nail-lounge-banner-03.jpg" alt="">
                            <div class="overlay"></div>
                            <ol class="carousel-indicators">
					            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0"></li>
					            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
					            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2" class="active"></li>
					        </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container pt-0 pb-5 py-md-5 about">
        <div class="row pt-0 mt-md-3">
			<div class="col-12 m-auto my-5 mt-lg-0 px-lg-4 text-center">
                <h1 class="h11 title-about">WELCOME TO Crown Nail Lounge</h1>
            </div>

			<div class="col-12 col-md-6 col-lg-6 m-auto mt-4 mt-lg-0 px-lg-4 text-justify">
				<div class="row text-center">
					<div class="col-6 p-1">
						<img src="images/crown-nail-lounge-about-01.jpg" class="img-fluid img-about border-tr-bl" alt="">
					</div>
					<div class="col-6 p-1">
						<img src="images/crown-nail-lounge-about-02.jpg" class="img-fluid img-about border-tl-br" alt="">
					</div>
					<div class="col-6 p-1">
						<img src="images/crown-nail-lounge-about-03.jpg" class="img-fluid img-about border-tl-br" alt="">
					</div>
					<div class="col-6 p-1">
						<img src="images/crown-nail-lounge-about-04.jpg" class="img-fluid img-about border-tr-bl" alt="">
					</div>
				</div>
            </div>


		
        	<div class="col-12 col-md-6 col-lg-6 m-auto mt-3 px-4 py-3 text-justify bg-about-text">              
                <!-- <span>We are located at</span> <span class="bold" th:text="${dataObj.info.salon.address}"></span> <br><br> -->
                
                <span class="text-justify">
					We are proud to be a trusted destination for nail and beauty care, where elegance meets relaxation. At our salon, you’ll enjoy a refined atmosphere paired with premium services, all designed to deliver a truly memorable beauty experience.
					<br>
					Our experienced nail technicians are passionate about their craft, creating stunning, durable nail designs tailored to your style. Beyond classic manicures, we offer artistic nail creations that let your individuality shine with every detail.
					<br>
					Alongside our nail services, we also offer rejuvenating Head Spa treatments that promote deep relaxation and renewal. These treatments help ease tension, nourish the scalp, and support healthy hair growth—bringing you both beauty and overall wellness.
					<br>
					In our warm and welcoming space, you can unwind while receiving attentive, personalized care from our dedicated team.
					<br><br>
					Come visit Crown Nail Lounge and treat yourself to a delightful beauty experience. We look forward to welcoming you!
					
					<br><br>
					<i>Address: 9719 E 116th St., Ste. 440, Fishers, IN 46037</i>
					<br>
					<i>Phone: (317) 585-8888</i>
					<br><br>
					We look forward to serving you!
				</span>
                <!-- <br><br>
                <a data-booking href="/" target="_blank" class="btn">Book Now</a> -->
            </div>



        </div>
    </section>
    <!-- End Categories of The Month -->


	<section class="pt-0 pb-5 py-md-5 bg-light">
		<div class="container">
			<div class="row mt-md-3 py-3">
				<div class="col-4 col-md-3 p-1">
					<img src="images/crown-nail-lounge-specialties-01.jpg" class="img-fluid gal border-tr-bl" alt="">
				</div>
				<div class="col-4 col-md-3 p-1">
					<img src="images/crown-nail-lounge-specialties-02.jpg" class="img-fluid gal border-tr-bl" alt="">
				</div>
				<div class="col-4 col-md-3 p-1">
					<img src="images/crown-nail-lounge-specialties-03.jpg" class="img-fluid gal border-tr-bl" alt="">
				</div>
				<div class="col-md-3 p-1 d-none d-md-block">
					<img src="images/crown-nail-lounge-specialties-04.jpg" class="img-fluid gal border-tr-bl" alt="">
				</div>
			</div>
		</div>
    </section>
    
	
    
    <!-- Check -->
    <!-- <section class="container-fluid services section-padding background-service padding-section" id="section_3">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-10 col-12 text-center mx-auto mb-5">
					<span class="small-title text-white">Giving time for your nail</span>
					<h2 class="big-title text-gold text-uppercase bolder">Our Services</h2>
					<div class="line2"></div>
				</div>
			
				<div class="col-lg-4 col-md-6 col-12 px-0 px-md-2">
					<div class="projects-thumb projects-thumb-small">
						<a href="services" class="custom-btn service btn" data-bs-toggle="modal" data-bs-target="#servicea">
							<img src="images/avalon-nails-head-spa-service-01.jpg" class="img-fluid projects-image btn-black-border" alt="">
			
							<div class="projects-info">
								<div class="projects-title-wrap">
									<h4 class="projects-title">SERVICE A</h4>
									<div class="description white">
										<p></p>
									</div>
								</div>
							</div>
						
						</a>
					</div>
			
					<div class="modal fade" id="servicea" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
						aria-labelledby="titleservicea" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="titleservicea">SERVICE A</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								
								<div class="modal-body">

									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service A</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>

									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service A</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								
									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service A</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								
									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service A</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								
									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service A</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								</div>
								
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				
				</div>


				<div class="col-lg-4 col-md-6 col-12 px-0 px-md-2">
					<div class="projects-thumb projects-thumb-small">
						<a href="services" class="custom-btn service btn" data-bs-toggle="modal" data-bs-target="#serviceb">
							<img src="images/Service (2).jpg" class="img-fluid projects-image btn-black-border" alt="">
			
							<div class="projects-info">
								<div class="projects-title-wrap">
									<h4 class="projects-title">SERVICE B</h4>
									<div class="description white">
										<p></p>
									</div>
								</div>
							</div>
						
						</a>
					</div>
			
					<div class="modal fade" id="serviceb" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
						aria-labelledby="titleservicea" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="titleservicea">SERVICE B</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								
								<div class="modal-body">

									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service B</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>

									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service B</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								
									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service B</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								
									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service B</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								
									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service B</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								</div>
								
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				
				</div>


				<div class="col-lg-4 col-md-6 col-12 px-0 px-md-2">
					<div class="projects-thumb projects-thumb-small">
						<a href="services" class="custom-btn service btn" data-bs-toggle="modal" data-bs-target="#servicec">
							<img src="images/Service (3).jpg" class="img-fluid projects-image btn-black-border" alt="">
			
							<div class="projects-info">
								<div class="projects-title-wrap">
									<h4 class="projects-title">SERVICE C</h4>
									<div class="description white">
										<p></p>
									</div>
								</div>
							</div>
						
						</a>
					</div>
			
					<div class="modal fade" id="servicec" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1"
						aria-labelledby="titleservicea" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="titleservicea">SERVICE C</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								
								<div class="modal-body">

									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service C</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>

									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service C</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								
									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service C</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								
									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service C</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								
									<div class="p-2 border-bottom">
										<div class="row w-100">
											<div class="col-10 color-price text-left ml-2">Service C</div>
											<div class="col-2 color-price text-left">$25</div>	
											<div class="col-12 description"></div>											
										</div>											
									</div>
								</div>
								
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				
				</div>
				
				</div>
			</div>
		</div>
	</section> -->




    <!-- Start Featured Product -->
    <section class="team ">
        <div class="container padding-section">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto" >
                    <span class="small-title text-white">Gallery</span>
                    <h2 class="big-title text-gold text-uppercase bolder">Our Gallery</h2>
                    <!-- <div class="line2"><img th:src="@{${template + '/images/' + folder + '/' + 'line2.png'}}"></div> -->
                    <div class="line2"></div>
                    <!-- Start Content Page -->
                    <!-- <img th:class="${dataObj.info.others.theme == 'black' ? 'd-none':'d-block'}" src="assets/images/bg-floral-title.png" alt=""> -->
                </div>
            </div>
            <div class="row mt-3 mt-md-5" id="loadSpecialties">
            	<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-01.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://maps.app.goo.gl/vAEaGmsFdH1QiJdP8"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-02.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-03.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-04.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-05.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-06.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-07.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-08.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
				
				
				
				<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-09.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
            	<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-10.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
            	<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-11.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
            	
            	<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
			        <div class="team-item">
			            <div class="team-img">
			                <img class="w-100" src="images/crown-nail-lounge-gallery-12.png" alt="specialties-01">
			                <div class="team-social">
			                    <ul class="list-unstyled">
			                        <li><a data-facebook class="btn btn-success text-white" target="_blank"
			                                href="https://www.facebook.com/CrownNailLounge46037"><i class="fab fa-facebook"></i></a></li>
			                        <li><a data-instagram class="btn btn-success text-white mt-2" target="_blank"
			                                href="https://www.instagram.com/crownnaillounge"><i class="fab fa-instagram"></i></a></li>
			                        <li><a data-google class="btn btn-success text-white mt-2" target="_blank"
			                                href="/"><i class="fab fa-google"></i></a></li>
			                    </ul>
			                </div>
			            </div>
			        </div>
			    </div>
            	
            	
            </div>
        </div>
    </section>
    <!-- End Featured Product -->

    <!-- Discount Start -->
    <!-- <div class="discount" data-wow-delay="0.1s">
        <div class="container">
            <div class="section-header text-center">
                <p class="color-white">Awesome Discount</p>
                <h2 class="color-white">Get <span>10%</span> Discount for all</h2>
            </div>
            <div class="container discount-text">
                <p class="color-white">Our gift certificates are available for purchase in store. Whether you need a
                    gift for a family member, friend, or co-worker, our gift certificates would be the perfect gift for
                    any occasion.</p>
                <a data-booking href="" target="_blank" class="btn">Book Now</a>
            </div>
        </div>
    </div> -->
    <!-- Discount End -->


    <!-- <div th:insert="template27/footer"></div> -->
    
    <!-- Start Footer -->
	<footer class="bg-foot background-black w-100 padding-section px-0" id="tempaltemo_footer">
	    <div class="container">
	        <div class="row padding-footer pt-0 pb-3">
	
	            <div class="col-md-12 col-lg-4">
	                <img style="height: 70px" src="images/crown-nail-lounge-logo-footer.png" alt="">
	                <ul class="list-unstyled text-light footer-link-list mt-3">
			    <li>
	                        <i class="fa fa-phone-alt fa-fw"></i>
	                        <a class="text-decoration-none phone-big" href="tel:+1(317) 585-8888">(317) 585-8888</a>
	                    </li>
	                    <li>
	                        <i class="fas fa-map-marker-alt fa-fw"></i>
	                        <a class="text-decoration-none">9719 E 116th St., Ste. 440, Fishers, IN 46037</a>
	                    </li>
	                    <li>
	                        <i class="fa fa-envelope fa-fw"></i>
	                        <a class="text-decoration-none"
	                            href="mailto:crownnail@yahoo.com">crownnail@yahoo.com</a>
	                    </li>
	                </ul>
	            </div>
	
	            <div class="col-md-6 col-lg-4 mt-3 mt-md-4 mt-lg-0">
	                <h2 class="h2 text-light pb-3 border-light-menu bolder">Hours</h2>
	                <ul class="list-unstyled text-light footer-link-list mt-3">
	                	<div class="row">
	                		<div class="col-4 col-xl-3">
	                			<span class="text-white" style="letter-spacing: 0.2px;">Mon - Sat:</span>
	                		</div>
	                		<div class="col-8 text-left">
	                			<span class="text-white">09:30 AM - 07:30 PM</span>
	                		</div>
	                	</div>
	                	<div class="row">
	                		<div class="col-4 col-xl-3">
	                			<span class="text-white" style="letter-spacing: 2.6px;">Sunday:</span>
	                		</div>
	                		<div class="col-8 text-left">
	                			<span class="text-white">11:00 AM - 06:00 PM</span>
	                		</div>
	                	</div>
	                    <!-- <li><a class="text-decoration-none" href="#" th:text="${dataObj.info.salon.time_1}"></a></li>
	                    <li><a class="text-decoration-none" href="#" th:text="${dataObj.info.salon.time_2}"></a></li> -->
	                    <!-- <li th:if="${dataObj.info.salon.time_3 != null}"><a class="text-decoration-none" href="#" th:text="${dataObj.info.salon.time_3}"></a></li> -->
	                </ul>
<br>
	                <ul class="list-inline text-left footer-icons">
	                    <li class="list-inline-item border border-light rounded-circle text-center">
	                        <a class="text-light text-decoration-none" target="_blank"
	                            href="https://www.facebook.com/CrownNailLounge46037" data-facebook><i
	                                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
	                    </li>
	                    <li class="list-inline-item border border-light rounded-circle text-center">
	                        <a class="text-light text-decoration-none" target="_blank"
	                            href="https://www.instagram.com/crownnaillounge" data-instagram><i
	                                class="fab fa-instagram fa-lg fa-fw"></i></a>
	                    </li>
	                    <li class="list-inline-item border border-light rounded-circle text-center">
	                        <a class="text-light text-decoration-none" target="_blank"
	                            href="https://maps.app.goo.gl/vAEaGmsFdH1QiJdP8" data-google><i
	                                class="fab fa-google fa-lg fa-fw"></i></a>
	                    </li>
	                </ul>
	            </div>
	
	            <div class="col-md-6 col-lg-4 mt-3 mt-md-4 mt-lg-0">
	                <h2 class="h2 text-light pb-3 border-light-menu bolder">Links</h2>
	                <ul class="list-unstyled text-light footer-link-list mt-3 mb-0">
	                    <li><a class="text-decoration-none" target=_blank href="about.html">About Us</a></li>
	                    <li><a class="text-decoration-none" target=_blank href="gallery.html">Gallery</a></li>
	                    <li><a class="text-decoration-none" target=_blank href="services.html">Services</a></li>
	                    <li><a class="text-decoration-none" target=_blank href="contact.html">Contacts</a></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</footer>
	
	<div class="container-fluid bottom-footer px-0">
		<div class="w-100 bg-black py-3">
			<div class="container">
				<div class="row pt-2">
					<div class="col-12">
						<p class="text-center text-light">
							Copyright &copy; 2023 <a href="index.html"
								class="text-color d-lg-inline-block">Crown Nail Lounge</a>. Designed by <a
								class="text-color" rel="sponsored" href="https://www.lldtek.org/"
								target="_blank">LLDTEK</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer -->
	
	<!-- <div id="popup-ads" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header pt-0 pb-0">
                    <h2 class="modal-title">Promotion</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="carousel-item active promotion">
                                <img class="w-100" src="images/avalon-nails-head-spa-pop-up.jpg">
								
								                            
                            </div>

                        </div>
                    </div>

                    <script>
                        $(document).ready(function () {
                            $(".promotion").owlCarousel({
                                autoplay: true,
                                autoplaySpeed: true,
                                smartSpeed: 300,
                            });
                        });
                    </script>
                    <div class="row w-100 popup-button-booking m-0 pt-3">
                        <div class="col-6 pl-0 pr-2">
                            <a class="join-wthree hvr-wobble-horizontal btn-callnow" href="tel:+10000000000">
                                <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>
                                <span style="font-size: 10px;"></span>Call Now <br>
                                <span style="color: #ffe394">(000) 000-0000</span>
                            </a>
                        </div>
                        <div class="col-6 pr-0 pl-2">
                            <a class="join-wthree hvr-wobble-horizontal btn-booknow" href="" target="_blank">
                                <i class="fa fa-hand-o-right mr-2" aria-hidden="true"></i>Book Now
                            </a>
                        </div>
                    
                    
                    </div>
                </div>

            </div>
        </div>
    </div> -->

    <!-- Start Script -->
    <!-- <script th:src="@{${template + '/js/jquery.zoomslider.min.js'}}"></> -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    
    <script src="js/jquery-3.6.min.js"></script>
    <!-- <script th:src="@{${template + '/js/jquery-migrate-1.2.1.min.js'}}"></script> -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/templatemo.js"></script>
    <script src="js/custom.js"></script>
    
    <!-- <script th:src="@{${template + '/js/ninja-slider.js'}}"></script> -->
    
    <!-- End Script -->

    <script type="text/javascript">
    
        $(window).scroll(function () {

            var a = 20;
            var pos = $(window).scrollTop();
            if (pos > a) {
                $("#navigation-scroll").css({
                    top: '0'
                });
                $("#navigation-scroll").addClass("scroll");
                $("#imgsrc").addClass("active");
                $("#imgsrc").attr('src', "images/crown-nail-lounge-logo-active.png"); 
                $("#icon-menu").attr('src', "images/menu.svg");
            }
            else {
                $("#navigation-scroll").css({
                    top: '0'
                })
               $("#navigation-scroll").removeClass("scroll");
                $("#imgsrc").removeClass("active");
                $("#imgsrc").attr('src', "images/crown-nail-lounge-logo.png");  
                $("#icon-menu").attr('src', "images/menu.svg");
            }
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
        	
        	$("#icon-menu").attr('src', "images/menu.svg");
        	
        	
            $('.nav').on('click', 'li', function () {
                $('.nav li').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>

	<!--Pop-up-->
	<script type="text/javascript">

		// $(window).on('load',function(){
		// setTimeout(function(){ alert(" //show popup"); }, 5000);
		// });

		$(window).on('load', function () {
			$('#popup-ads').modal('show');
		});

		$('#popup-ads').modal({
			backdrop: 'static', // Prevent to close on click outside the modal
			// keyboard: false  // to prevent closing with Esc button (if you want this too)
		})


		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>

</body>
</html>